// Color Palette
//
// ------------------------------------------------------------------------

$uiBlack: #012406 !default;
$uiWhite: #fff !default;
$uiGreen: #5f8866 !default;
$uiRed: #73342b !default;
$uiGrey: #bfc0ca !default;
