// Images declared as variables
//
// ------------------------------------------------------------------------

// Application Background
// ------------------------------------------------------------------------
$bg-app-image-mobile: url("../../assets/images/background.jpg");
$bg-app-image-mobile-2x: url("../../assets/images/background@2x.jpg");
$bg-app-image-desktop: url("../../assets/images/background.jpg");
$bg-app-image-desktop-2x: url("../../assets/images/background@2x.jpg");
